# IDEA
*.iml
*.ipr
*.iws
/.idea/
!/.idea/icon.png

# Gradle
.gradle/
build/

# Android
/project.properties

# Other
/temp
gradled.bat

component/widget/out/failures/delta-net.twisterrob.sun.*.png
component/widget/out/failures/net.twisterrob.sun.*.png
