# IDEA
*.iml
*.ipr
*.iws
/.idea/
!/.idea/icon.png

# Gradle
.gradle/
build/

# Android
/project.properties

# Other
/temp
gradled.bat

**/out/failures/delta-net.twisterrob.sun.*.png
**/out/failures/net.twisterrob.sun.*.png
