<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.android.sun"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk
		android:minSdkVersion="9"
		android:targetSdkVersion="19" />

	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@drawable/ic_launcher"
		android:theme="@style/AppTheme">
		<receiver android:name="SunAngleWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/sun_angle_widget" />
		</receiver>
	</application>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>
