<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="net.twisterrob.sun.preview">

	<application>

		<activity
			android:name="net.twisterrob.sun.android.WidgetScreenshotActivity"
			android:label="Sun Position Widget Preview"
			android:enabled="@bool/in_test">
			<intent-filter android:label="Sun Preview">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="@string/app_package"
			android:enabled="@bool/in_test"
			android:exported="false"
			android:grantUriPermissions="true">
			<meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/paths_screenshot" />
		</provider>

	</application>

</manifest>
